@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

body.ar {
  font-family: "Tajawal", sans-serif;
}

body {
  --space: 16px;
  --space-md: calc(var(--space) * 2);
  --content-max-width: 1392px;
  background: white;

}


.multi_scroll_content {
  display: grid;
  grid-template-columns:
    [full-start] 1fr [content-start] min(var(--content-max-width),
      100% - var(--space-md) * 1) [content-end] 1fr [full-end];
}

.multi_scroll_content>* {
  grid-column: content;
}

.multi_scroll_content .multi_scroll_content_gallery {
  grid-column: full;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: inherit;
  grid-template-columns: inherit;
  padding-block-start: var(--gap);
  /* padding-bottom: 60px; */
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
}


.multi_scroll_content .multi_scroll_content_gallery .wrapper {
  grid-column: content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  gap: var(--space);
  width: max-content;
  padding-inline-end: var(--space);
}



@layer base {

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    -webkit-text-fill-color: #000 !important;
    /* adjust text color if needed */
    transition: background-color 5000s ease-in-out 0s;
  }
}


html {
  scroll-behavior: smooth;
}


.noScrollBar::-webkit-scrollbar {
  display: none;
}




.PhoneInput {
  direction: ltr;
  border: none !important;
}

.PhoneInputInput {
  background: transparent;
}

.PhoneInputInput:focus-visible {
  outline: none;
}

strong{
  font-weight: bold;
}

i{
  font-style: italic;
}
/* NEW */
@keyframes spinSlow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spinSlow 12s linear infinite;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* Floating input container */
.field {
  @apply
    w-full
    rounded-xl
    border
    border-[#D0CDD8]
    px-3
    py-3
    transition
    focus-within:border-secondary;
}

/* Label */
.field-label {
  @apply
    block
    text-sm
    text-[#525354]
    mb-1;
}

/* Input text */
.field-input {
  @apply
    w-full
    bg-transparent
    text-base
    font-medium
    text-primary
    outline-none;
}

/* Checkbox */
.checkbox {
  @apply
    w-5
    h-5
    rounded
    border
    border-[#CFC9D9]
    accent-primary
    cursor-pointer;
}

/* Slider Box */
@keyframes slideDownFade {
  from {
    opacity: 0;
    transform: translateY(-12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes marqueeLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marqueeRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.marquee-left {
  width: max-content;
  animation: marqueeLeft 25s linear infinite;
}

.marquee-right {
  width: max-content;
  animation: marqueeRight 25s linear infinite;
}
.marquee-track {
  display: flex;
  width: max-content;
  will-change: transform;
}

@keyframes marqueeLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marqueeRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.marquee-left {
  animation: marqueeLeft 30s linear infinite;
}

.marquee-right {
  animation: marqueeRight 30s linear infinite;
}


/* animate-word */
.marquee-text-track {
  display: flex;
  width: max-content;
  will-change: transform;
  animation: marqueeText 18s linear infinite;
}
.marquee-text-track.pink{
  animation: marqueeTextBack 18s linear infinite;
  justify-content: flex-end;
}

.marquee-text {
  white-space: nowrap;
  padding-right: 3rem;
  background: #FDBA3B;
  color: #1A0044;
  font-family: var(--font-monument), sans-serif;
  font-weight: 800;
  font-size: 40px;
  padding: 5px 12px;
}
.marquee-text.pink{
  background: #FF007E;
  color: white;
}

@keyframes marqueeText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marqueeTextBack {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}



/* Slide word Box */
.vertical-word-slide-fast {
  position: absolute;
  white-space: nowrap;

  padding: 12px 32px;
  border-radius: 999px;
  font-size: clamp(28px, 5vw, 50px);

  opacity: 0;
  transform: translateY(100%);
  animation: verticalSlideUltraFast 3.5s infinite linear;
}

/* Ultra fast vertical animation */
@keyframes verticalSlideUltraFast {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  12% {
    opacity: 1;
    transform: translateY(0);
  }

  35% {
    opacity: 1;
    transform: translateY(0);
  }

  45% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

